body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3e136e;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
}

header h1 {
    color: #ffffff;
}

header img {
    max-width: 80%;
    height: auto;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

h2 {
    color: #ffffff;
}

p {
    color: #ffffff; 
}

blockquote {
    color: #ffffff; 
}

.media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media img {
    max-width: 40%;
    height: auto;
}
.media video {
    max-width: 40%;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .media {
        flex-wrap: wrap;
    }
    .media img,
    .media video {
        max-width: 100%;
    }
}